@tailwind base;
@tailwind components;
@tailwind utilities;

.section-title {
  @apply text-xl font-semibold;
}

.doughnut-chart-title {
  @apply text-sm font-bold;
}

.tooltip {
  @apply relative overflow-visible;
}

.tooltip .tooltip-content {
  width: max-content;
  @apply invisible absolute top-4 z-20 inline-block max-w-[200px] -translate-x-1/2 transform rounded bg-accent p-3 text-white md:left-6 md:-top-2 md:max-w-sm md:translate-x-0;
}

@media only screen and (min-width: 768px) {
  .tooltip-content::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid rgb(19 41 61);
    left: -7px;
    top: 7px;
  }
}

.tooltip:hover .tooltip-content {
  @apply visible;
}
